body{
  background: #c9cacd;
  font-family: 'Oswald', sans-serif;
}
.App{
  width: 90%;
  margin: 0 auto; 
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}