.logoContainer{
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30%;
}
.logo img{
    width: 100%;
}

.adContainer{
    width: 60%;
    border: 1px solid black;
    text-align: center;
}